# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# FAISS / RAG Files
# =========================
*.index
*.pkl

# =========================
# Uploaded PDFs
# =========================
datas/uploads/

# =========================
# Sample Files
# =========================
sample.pdf

# =========================
# Test Scripts
# =========================
scripts/

# =========================
# Logs
# =========================
*.log

# =========================
# Cache
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db